<app-form (ticketCategoryAdd)="addCategory($event)"></app-form>
<ion-card *ngFor="let ticketCategory of ticketCategories; let i = index">
  <ion-card-header>
    <ion-card-title>Категорія: {{ ticketCategory.category }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Прибуток з категорії: {{ ticketCategory.totalSales }}
  </ion-card-content>
</ion-card>
<ion-card *ngIf="getTotalPrice() > 0">
  <ion-card-header>
    <ion-card-title> Загальний прибуток: {{ getTotalPrice() }} </ion-card-title>
  </ion-card-header>
</ion-card>
