<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Категорії квитків на стадіоні</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Кількість категорій: </ion-label>
        <ion-input
          id="categories"
          type="text"
          formControlName="numOfCategories"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button
    type="submit"
    fill="outline"
    color="my-color"
    expand="block"
    [disabled]="!formGroup.valid"
  >
    Submit
  </ion-button>
</form>
